*{
	margin: 0;
	padding: 0;
}

.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img{
	width: 33%;
	border: 3px solid white;
	border-radius: 50px;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top:0;
	cursor:pointer;
}

.nav-list{
	width: 70%;
	display: flex;
	align-items: center;
}

.nav-list li{
	list-style: none;
	padding: 26px 30px;
}

.nav-list li a{
	text-decoration: none;
	color: white;
}

.nav-list li a:hover{
	color: red;
}

.rightNav{
	width: 30%;
	text-align: right;
	padding: 0 23px;
}

#search{
	padding: 5px;
	font-size: 17px;
	border: 2px solid red;
	border-radius: 9px;
}

.background{
	img src="bground.jpg"
	background-size: cover;
	background-blend-mode: darken;
}

.firstSection{
	height:100vh;
}

.box-main{
	display: flex;
	height: 80%;
	justify-content: center;
	align-items: center;
	color: black;
	font-family: sans-serif;
	max-width: 50%;
	margin: auto;
}

.firstHalf{
	width:75%;
	color: white;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.secondHalf{
	width: 30%;
}

.secondHalf img{
	width: 70%;
	border: 4px solid white;
	 display: block;
	 border-radius: 150px;
	 margin: auto;

}

.text-big{
	font-size:41px;
}

.text-small{
    font-size: 18px;
    margin-top: 75px;}

.btn{
	padding: 8px 20px;
	margin: 7px 3px;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor:pointer;
}

.link a{
	color: white;
	text-decoration: none;
}

.btn-sm{
	padding: 3px 10px;
	vertical-align: middle;
}

.sectiontag{
	padding: 16px 0;
}


.btn-dark{
	color: black;
	border: 2px solid black;
}

.section{
	height: 500px;
	display: flex;
	align-items: center;;
	justify-content: space-evenly;
	max-width: 80%;
	margin: auto;
	margin-bottom: 15px;
}

.Section-Left{
	flex-direction: row-reverse;
}

.paras{
	padding:0px 65px;
}

.thumbnail img{
	width: 250px;
	border:2px solid black;
	border-radius: 26px;
	margin-top: 19px;
}

.contact{
	background-color: #f6f5f4;
	height: 80svh;
}

.text-center{
	text-align: center;
}

.form{
	max-width: 344px;
	margin: auto;
}

.form-input{
	padding: 5px 2px;
	margin: 20px 0;
	width: 100%;
	font-size: 19px;
	border: 2px solid gray;
	border-radius: 6px;
}

.burger{
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5%;
	top:15px;
}

.line{
	width: 33px;
	background-color: white;
	height: 4px;
	margin: 3px 3px;
}
@media only screen and (max-width:1119px){
	.nav-list{
		flex-direction: column;
	}
	.navbar{
		flex-direction: column;
		transition: all 0.7s ease-out;
		height: 447px;

	}
	.rightNav{
		text-align: center;
	}

	.box-main{
		flex-direction: column-reverse;
		max-width: 100%;
	}

	#search{
		width: 100%;
	}

	.burger{
		display:block;
	}
	.h-nav{
		height: 72px;
	}

	.v-class{
		opacity: 0;
	}
}
