*{
	margin: 1px;
	padding: 0;
}
.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img{
	width: 33%;
	border: 3px solid white;
	border-radius: 50px;
}
.navbar{
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top:0;
	cursor:pointer;
}

.nav-list{
	width: 70%;
	display: flex;
	align-items: center;
}

.nav-list li{
	list-style: none;
	padding: 26px 30px;
}

.nav-list li a{
	text-decoration: none;
	color: white;
}

.nav-list li a:hover{
	color: red;
}

.rightNav{
	width: 30%;
	text-align: right;
	padding: 0 23px;
}
.background{
	background-image:url('bground.jpg');
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
	background-blend-mode: darken;
}

.firstSection{
	height:100vh;
	font-size: 300%;
	color: white;
}

.box-main{
	display: flex;
	height: 50%;
	justify-content: center;
	align-items: center;
	color: black;
	font-family: sans-serif;
	max-width: 50%;
	margin: auto;
}


.first-half{
	width: 75%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 400px;
}

.text-big{
	font-size:41px;
}

.text-small{
	font-size:18px;
}

.order{
	padding-top: 20px;
}

.deco a{
	text-decoration: none;
	cursor: pointer;
	color: grey;
}

.list{
	width: 70%;
	display: flex;
	align-items: center;
}

.list li{
	list-style: none;
	padding: 26px 35px;

}

.list li a:hover{
	color:red;
}

.btn{
	padding: 8px 20px;
	margin: 7px 3px;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor:pointer;
}

.burger{
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5%;
	top:15px;
}

.line{
	width: 33px;
	background-color: white;
	height: 4px;
	margin: 3px 3px;
}

@media only screen and (max-width:1123px){
	.nav-list{
		flex-direction: column;
	}

	.navbar{
		flex-direction: column;
		transition: all 0.7s ease-out;
		height: 447px;

	}

	.rightNav{
		text-align: center;
	}

	.box-main{
		flex-direction: column-reverse;
		max-width: 100%;
	}

	.burger{
		display:block;
	}
	.h-nav{
		height: 72px;
	}

	.v-class{
		opacity: 0;
	}

	.first-half{
		margin-left: 215px;
	}

	.text-big{
	font-size:60px;
}

	.text-small{
	font-size:30px;
	}
}
